.artistCard {
  background-color: black;
  width: 600px;
  height: 250px;
}

.artistImage {

  background-size: cover;
  background-position: center;

  width: 80%;
  height: 100%;

}

.artistName {
  position: absolute;
  color: white;
  isolation: isolate;
  top: 80%;
  right: 5%;
}

@media (max-width: 768px) {
  .artistCard {
    width: 290px;
    height: 170px;
  }
}
