.navbar {
    height: 100vh;
}

.navParent {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    transition: 0.9s;
    left: 0;
    right: 0;
    z-index: 200;

}

.widthZero {
    left: -2000px;
    width: 0;
}

.brands {
    position: absolute;
    bottom: 50px;
}

.widthFull {
    left: 0;
    width: 100%;

}

.fa-xmark,
.fa-bars{
    position: fixed;
    right: 50px;
    top: 50px;
    font-size: 30px;
    cursor: pointer;
}

.navbar-brand {
    font-size: 60px !important;
    line-height: 55px;
    padding: 6px;
    font-weight: 700;
    letter-spacing: 5px;
    cursor: pointer;
}

.navbar-brand:hover {
    color: whitesmoke !important;
}

.textParent {
    background-color: rgb(255, 255, 255);
    background-clip: text;
    color: transparent !important;
}

.popularBrand {
    color: white;
}

.fa-brands {
    color: white !important;
    cursor: pointer;
}